form(method="POST" class="login")
    input(type="email" name="email" placeholder="Email" class="login_email" autocomplete="off" value = 'a@gmail.com')
    input(type="password" name='password' class="login_pwd" placeholder="Password" value="1234")
    input(type="submit" name="login" class="login_btn" value="Login")
