form(method="POST" class="signup")
    input(type="text" name="name" placeholder="Username" class="username" autocomplete="off")
    input(type="email" name="email" placeholder="Email" class="signup_email")
    input(type="password" name='password' class="signup_pwd" placeholder="Password")
    input(type="submit" name="login" class="signup_btn" value="Signup")

