form(method="POST" class="setup_form" enctype="multipart/form-data")
    div
        input(class="image_input_sign" id="image_input" name="sign" type="file" accept="image/*")
        label(for="image_input" class="label_image_sign") Select Signature Image
    button(class="btn") Submit


