<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include includes/styles
    body
        div(style='text-align:center;')
            input(type='text' class="key" name="key" style="width:80%;")

        div(class="companies" style='width:80%;text-align:center;')

        script
            include includes/auto.js
        
            