block content
    include lay_head
    button(class="create_doc") Create New Document
    p(class="error")= error

    .create_doc_con
        form(method='post' class="doc_form")
            input(type="text" name="name" class="nameDoc" placeholder="Enter document name" autocomplete='off')
            input(type='password' name='pwd' class="docPass" placeholder="Enter Password for the document")
            textarea(name="des" class="docDes" placeholder="Enter description of the document (optional)")
            input(type="submit", value="Proceed" class="proceed")
            input(type="button", value="Cancel" class="cancel_doc")

    .documents_con
        if docs != 'No documents were made'
            -docs.forEach(element => {  
                .doc
                    a(class="doc_name" href=`/editor/${element.Name}/${element.id}` )= element.Name
                    p(class="doc_des")= element.Description
                    p(class="doc_time") Created : 
                        span= element.Timestamp
            -})
        else 
            p(class='nodocs') No documents were made. Create on 'Create New Document' to create new docs

    // use user-select property in css for no actions on uploaded signatures
    
    script
        include includes/doc.js